.entirePage {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.eachCard {
    width: 500px;
    margin: 1%;
    width: 500px;
}

.eachCard img {
    width: 100%;
    border-radius: 5px;
}

button {
    background-color: orange;   
}

