
.form-control {
    width: 10%;
    display: flex;
    justify-content: center;
    margin-left: 45%;
}

input {
    background-color:white
}


h5{
    margin-left: 34%;
    margin-top: 2%;
}

button {
    margin-left: 47.5%;
    margin-top: 2%;
}