
.form-control {
    width: 10%;
    display: flex;
    justify-content: center;
    margin-left: 45%;
}

input {
    background-color:white
}


text {
    text-align: center;
}

button {
    margin-left: 47.5%;
    margin-top: 2%;
}

h5 {
    margin-left: 38%;
    margin-top: 2%;
}

