body {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
}


input{
    background-color: orange;
    color: black
}

.Text {
    margin-top: 500px;
}

h1 {
    font-size: 500%;
}

img{
    height:50px;
    width: 50px;
}