body {
    background-color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
}



input{
    background-color: orange;
    color: black
}

.Text {
    margin-top: 500px;
    font-size: 100%;
}

h1 {
    font-size: 500%;
}

img{
    width: 100px; /* Adjust the width as per your preference */
    height: auto; /* Keeps the aspect ratio and scales the height proportionally */
    border-bottom: 25%;
}