
button{
    display: block;
    margin: auto;
}

img {
    display: block;
    margin: auto;
    border-radius: 1%;
    width: 1000px;
    height: auto;
}

div {
    justify-content: center;
}

#block {
    background-color: black;
}